In [33]:
import json
import os
import pandas as pd
# Load JSON
filepath = os.path.join("..", "data", "cb_updated.geojson")
with open(filepath) as jsonfile:
    borders_geojson = json.load(jsonfile)

In [2]:
# borders_geojson

# {'type': 'FeatureCollection',
#  'features': [{'type': 'Feature',
#    'properties': {'ADMIN': 'Aruba', 'ISO_A3': 'ABW'},
#    'geometry': {'type': 'Polygon',
#     'coordinates': [[[-69.99693762899992, 12.577582098000036],
#       [-69.93639075399994, 12.53172435100005],
#       [-69.92467200399994, 12.519232489000046],
#       [-69.91576087099992, 12.497015692000076],

In [68]:
borders_geojson['features'][0]['properties']['ADMIN']

'Aruba'

In [71]:
for features,value in borders_geojson['features'][0]['properties']['ADMIN']:

    print(features,'corresponds to',value)

ValueError: not enough values to unpack (expected 2, got 1)

In [26]:
your_dict = {u'605': [u'56', u'31'], u'602': [u'43', u'77']}

for precincts in map_data["features"]:

    placeVariable = precincts["properties"]
    prec = placeVariable["precNum"] 

    if your_dict.get(prec): #checks if prec exists in your_dict
        placeVariable["cand1"] = your_dict['prec'][0]
        placevariable["cand2"] = your_dict['prec'][0]

AttributeError: 'list' object has no attribute 'items'

KeyError: 0

In [27]:
dictionary = {}
dictionary["new key"] = "some new entry" # add new dictionary entry
dictionary["dictionary_within_a_dictionary"] = {} # this is required by python
dictionary["dictionary_within_a_dictionary"]["sub_dict"] = {"other" : "dictionary"}
print (dictionary)

# Output:

# {'new key': 'some new entry', 'dictionary_within_a_dictionary': {'sub_dict': {'other': 'dicti

{'new key': 'some new entry', 'dictionary_within_a_dictionary': {'sub_dict': {'other': 'dictionary'}}}

In [64]:
df_lifeex = pd.read_csv("../data/life-expectancy.csv")
df_lifex = df_lifeex.rename(index=str, columns={"Entity":"Country","Life expectancy (Clio-Infra up to 1949; UN Population Division for 1950 to 2015)": "Life-ex"})
df_lifex_filt = df_lifex.loc[df_lifex['Country'] == 'Afghanistan']
df_lifex2 = df_lifex_filt[['Year','Life-ex']]
df_lifex2

    Year    Life-ex
0   1950  27.537001
1   1951  27.809999
2   1952  28.350000
3   1953  28.879999
4   1954  29.399000
5   1955  29.907000
6   1956  30.403999
7   1957  30.891001
8   1958  31.367001
9   1959  31.834000
10  1960  32.292000
11  1961  32.742001
12  1962  33.185001
13  1963  33.624001
14  1964  34.060001
15  1965  34.494999
16  1966  34.928001
17  1967  35.361000
18  1968  35.796001
19  1969  36.234001
20  1970  36.678001
21  1971  37.127998
22  1972  37.587002
23  1973  38.056000
24  1974  38.540001
25  1975  39.039001
26  1976  39.556000
27  1977  40.091999
28  1978  40.650002
29  1979  41.234001
..   ...        ...
36  1986  46.417000
37  1987  47.287998
38  1988  48.164001
39  1989  49.028000
40  1990  49.855999
41  1991  50.626999
42  1992  51.331001
43  1993  51.967999
44  1994  52.539001
45  1995  53.055000
46  1996  53.533001
47  1997  53.997002
48  1998  54.467999
49  1999  54.959000
50  2000  55.481998
51  2001  56.043999
52  2002  56.637001
53  2003  57.250000
54  2004  57.875000
55  2005  58.500000
56  2006  59.110001
57  2007  59.694000
58  2008  60.243000
59  2009  60.754002
60  2010  61.226002
61  2011  61.666000
62  2012  62.085999
63  2013  62.493999
64  2014  62.895000
65  2015  63.287998

[66 rows x 2 columns]

In [66]:
ret_lifex2 = df_lifex2.to_json(orient='split')

ret_lifex2

'{"columns":["Year","Life-ex"],"index":["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65"],"data":[[1950,27.537001],[1951,27.809999],[1952,28.35],[1953,28.879999],[1954,29.399],[1955,29.907],[1956,30.403999],[1957,30.891001],[1958,31.367001],[1959,31.834],[1960,32.292],[1961,32.742001],[1962,33.185001],[1963,33.624001],[1964,34.060001],[1965,34.494999],[1966,34.928001],[1967,35.361],[1968,35.796001],[1969,36.234001],[1970,36.678001],[1971,37.127998],[1972,37.587002],[1973,38.056],[1974,38.540001],[1975,39.039001],[1976,39.556],[1977,40.091999],[1978,40.650002],[1979,41.234001],[1980,41.853001],[1981,42.513],[1982,43.216999],[1983,43.963001],[1984,44.747002],[1985,45.566002],[1986,46.417],[1987,47.287998],[1988,48.164001],[1989,49.028],[1990,49.855999],[1991,50.626999],[1992,51.331001],[1993,51.967999],[1994,52.539001],[1995,53.055],[1996,53.533001],[1997,53.997002],[1998,54.467999],[1999,54.959],[2000,55.481998],[2001,56.043999],[2002,56.637001],[2003,57.25],[2004,57.875],[2005,58.5],[2006,59.110001],[2007,59.694],[2008,60.243],[2009,60.754002],[2010,61.226002],[2011,61.666],[2012,62.085999],[2013,62.493999],[2014,62.895],[2015,63.287998]]}'

IBM
MSFT
CSCO

Code : IBM, Value : 146.48
Code : MSFT, Value : 44.11
Code : CSCO, Value : 25.54